*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

article{
    width: 6vw;
    height: 80vh;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: end;
    border-radius: 50px;
    font-size: 0px;
    transition: .5s ease-in;
}

p{
    padding: 2vh 8vh;
    font-weight: 600;
    color: white;
    text-shadow: 0 0 5px black;
    transition: .1s;
}

img{
    height: 100%;
    position: absolute;
    z-index: -1;
}

.selected{
    width: 50vw;
    font-size: 28px;
}